.header {
	//position: fixed;
	width: 100%;
	//top: 0;
	//left: 0;
	z-index: 3;

	&__navigation {
		max-width: 1476px;
		margin: 0 auto;
		padding: 0 40px;
		z-index: 9;
	}

	&:before {
		display: none;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 2;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 45px 0;
		height: 80px;
		align-items: center;
	}

	&__menu {
		min-width: 50%;
	}

	&__logo {
		z-index: 3;

		flex: 0 0 60px;
		//border-radius: 50%;
		//overflow: hidden;
		img {
			max-width: 62px;
			//display: block;
		}
	}

	&__burger {
		display: none;
		z-index: 4;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		transition: all 0.3s ease-in-out;

		li {
			list-style: none;
			margin: 0 0 0 20px;
		}
	}

	&__link {
		position: relative;
		color: $white_color;
		font-size: 18px;
		text-decoration: none;
		z-index: 3;
	}

	&__lang-basket {
		display: flex;
		.lang {
			display: flex;
			position: relative;
			&__link {
				display: flex;
				align-items: center;
				color: $white_color;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 24px;
				margin-right: 60px;

				img {
					padding-left: 10px;
				}
			}
	
			&__list {
				//display: none;
				position: absolute;
				top: 60px;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				font-size: 24px;
				opacity: 0;
				transform: translateY(-115px);
				transition: all .3s ease-out;
				
				&.active {
					display: block;
					opacity: 1;
					transform: translateY(0px);
					//transition: all 3s ease-out;
				}
			}
	
			&__item {
				padding: 0 0 15px 0;
				a {
					color: $white_color;
					text-decoration: none;
				}
			}
		}
		.basket {
			&__icon {
				display: block;
				position: relative;
				width: 62px;
				height: 62px;
				background-color: $secondary_color;
				border-radius: 50%;
			}
	
			&__image{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 32px;
				height: 33px;
				color: $white_color;
				margin: auto;
			}
		}
	}
}

@include media("max", "sm") {
	body {
		&.lock {
			overflow: hidden;
		}
	}

	.header {
		padding: 27px 0 20px;
		background: rgba(0, 0, 0, 0.9);

		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 50;

			span {
				background-color: $white_color;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}

			&.active {
				&:before {
					transform: rotate(45deg);
					top: 9px;
				}

				&:after {
					transform: rotate(-45deg);
					bottom: 9px;
				}

				& span {
					transform: scale(0);
				}
			}

			&:after,
			&:before {
				content: "";
				background-color: $white_color;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}
		}

	&__logo {
		img {
			max-width: 45px;
		}
	}

		&__menu {
			position: fixed;
			width: 100%;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.9);
			//padding: 70px 10px 20px 10px;
			transition: all 0.3s ease 0s;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
			}

			&.active {
				top: 0;
			}
		}

		&__link {
			color: #f5f5f5;
		}

		&__list {
			display: block;
			padding-top: 100px;

			li {
				width: 100%;
				text-align: center;
				margin: 20px auto;

				a {
					font-size: 24px;
				}
			}
		}

		&__body {
			height: 50px;
		}
	}
}