/*
  Змінні scss
*/

// Кольори

$main_color: #080707;
$secondary_color: rgb(235, 28, 35);
$white_color: #ffffff;
$black_color: #000000;
$silver_color: #151414;
$border_silver_color:#B8B8B8;
$sizes: ("xs":576px, "sm":768px, "md":992px, "lg":1200px, "xl":1400px);
// Шрифт

$font_family: "Gilroy";